header{
    background-color: rgb(88, 30, 6);
    color: bisque;
    text-align: center;
    font-family: papyrus;
}
main{
    background-color: rgb(127, 146, 152);
    font-family: papyrus;
    padding: 1em;
}

body{
    background-image: url(record.png);
    background-repeat: repeat;
    margin: 0;
}

